body{
font-family: Arial;
background:#222;
color:white;
}

.chat{
width:400px;
margin:50px auto;
background:#333;
padding:20px;
border-radius:10px;
}

#mensagens{
background:white;
color:black;
padding:10px;
height:300px;
}
